@using Luval.AI.Database.MVM;
@inject IJSRuntime JS
@page "/"

<div class="container">
    <div class="form-container">
        <div class="alert alert-light" role="alert" style="padding-bottom:15px">
            <h4 class="alert-heading">Adventure Works</h4>
            <p>AdventureWorks is a sample database that contains sales information for a retailer company from 2020 to April of 2023</p>
            <hr>
            <p class="mb-0">You can ask questions about the sales data, there are records for sales in multiple countries and the database contains not only the customer information, but also information about the products, the categories, the cost of the product and the location of where it was sold</p>
        </div>
        <form>
            <div class="mb-3">
                <label for="promptInput" class="form-label">Enter your question:</label>
                <textarea type="email" class="form-control" id="promptInput" aria-describedby="promptHelp" rows="3"
                          @onchange="@((args) => Assign(args))"></textarea>
                <div id="promptHelp" class="form-text">Provide a question about the company sales information</div>
            </div>
            <button id="btn-send" type="submit" class="btn btn-primary" @onclick="Send">
                <i class="bi bi-send-fill"></i> Submit
            </button>
        </form>
    </div>
</div>

@code {

    [Parameter]
    public ChatMVM? ViewModel { get; set; }


    private async void Send()
    {
        if (ViewModel == null) return;
        ViewModel.Run();

    }

    private void Assign(ChangeEventArgs args)
    {
        if (ViewModel == null) return;
        if (args == null) return;
        ViewModel.Prompt = Convert.ToString(args.Value);

    }

}
