@using Luval.AI.Database.MVM;
@using Luval.AI.Database.WebLibrary
@inject ChatMVM ViewModel

@page "/"

<PageTitle>Index</PageTitle>
<div class="row">
    <div class="col">
        <DataPromptUI ViewModel="ViewModel" />
    </div>
</div>
<div class="row">
    <div class="col">
        <QueryResult ViewModel="ViewModel"/>
    </div>
</div>

@code{
    
}
